* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
}

html {
    height: 100%;
    background-color: #000001;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    height: 100%;
    color: aliceblue;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 200;
}

a {
    transition-duration: 0.3s;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1440px;
    padding: 0 45px;
}

.menu-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: flex-end;
    gap: 80px;
    padding: 30px;
}

.menu-link {
    text-decoration: none;
    color: aliceblue;
}

.menu-link:hover,
.contact-link:hover,
.course-link {
    color: #d8005f;
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
}

.profile-title {
    font-size: 90px;
    line-height: 1.2;
}

.profile-role {
    font-size: 30px;
    color: #d8005f;
}

.profile-photo {
    width: 550px;
    height: 410px;
}